{{define "html"}}<!DOCTYPE html>
<html lang="en" ng-app="GingerApp">
  <head>
    <script src="/js/angular.min.js"></script>
    <script src="/js/ui-bootstrap-tpls.min.js"></script>
    <script src="/js/ginger.js"></script>
    <title>{{if .Found}}{{with .Title}}{{.}} « {{end}}Ginger{{else}}Not Found{{end}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Ginger</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li><a href="/collection/">Collections</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      {{if .Found}}{{template "content" .}}{{else}}<h1>Not Found</h1>{{end}}
    </div>    
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script>
(function($) {
    function initPage() {
        $('ul.nav > li > a[href="' + document.location.pathname + '"]').parent().addClass('active');
        $('a').tooltip()
    }
    $(initPage);

})(jQuery)
    </script>
  </body>
</html>{{end}}
