{{define "html"}}<!DOCTYPE html>
<html lang="en" ng-app="GingerApp">
  <head>
    <script src="/js/ginger.js"></script>
    <title>{{if .Found}}{{with .Title}}{{.}} « {{end}}Ginger{{else}}Not Found{{end}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/ginger.min.css" rel="stylesheet">
  </head>
  <body>

    <div class="container">

      <div class="navbar navbar-default">
	<div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
	  <a class="navbar-brand" href="/">Ginger</a>
	</div>
	<div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
          </ul>
	</div>
      </div>

      {{if .Found}}{{template "content" .}}{{else}}<h1>Not Found</h1>{{end}}
    </div>    
    <script>
(function($) {
    function initPage() {
        $('ul.nav > li > a[href="' + document.location.pathname + '"]').parent().addClass('active');
        $('a').tooltip()
    }
    $(initPage);

})(jQuery)
    </script>
  </body>
</html>{{end}}
